#profilePic{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 100%;
}

#about{
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    width: max(10em, 60%);
    margin: auto;

    font-size: min(2vw, 15px);

}


#aboutParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

#aboutContainer{
    display: flex;
    justify-content: left;
    width: fit-content;
    margin-bottom: 3em;
}
#textContainer{
    margin: 1em;
}