

:root{
    --background-color: rgb(220, 220, 220);
    --titlebar-color: rgb(36, 36, 36);
    --titlebar-color-light: rgb(50, 50, 50);
    --titlebar-color-dark: rgb(28, 28, 28);
    --highlight-color: black;
    --text-color: black;
    --titlebar-text-color: azure;
}
*{
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1{
    font-size: 300%;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--highlight-color);
}

div.maincontent{
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    width: max(10em, 70%);
    margin: auto;
    padding-top: 1.5em;
    font-size: min(3vw, 20px);
}


