

.titlebar{
    width: 100%;
    margin: 0;
    display: flex;
    background-color: var(--titlebar-color);
    font-size:min(calc(5px + 1.4vw), 22px);
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
}

.titlebar a{
    justify-content: center center;
    padding: 1em;
    color: white;
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  

    text-decoration: none;
}

.titlebarTab{
    float: right;
    border-left-style: solid;
    border-color: rgb(74, 74, 74);
    border-left-width: 1px;
    align-content: center;
    
}

.titlebarTab > a{
    font-size: 100%;
}

.titlebarTab.selected > a::before{
    content: "yo";
    display: block;
    position: relative;
    height: .1em;
    width: 100%;
    border-radius: 50%;
    background-color: azure;

}
.titlebarTab:hover{
    background-color: var(--titlebar-color-dark);
}

.logo{
    margin-right: auto;
}